.card {
  font-size: 15px;
  width: 18.75em;
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  .card__containerDetails {
    position: relative;
    z-index: 5;
    width: 61.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.75em;
    .card__img {
      width: 100%;
    }
    .card__name {
      font-size: 2em;
      font-weight: 200;
      margin: 0.375em 0;
    }
    .card__containerProfesions {
      width: 110%;
      display: flex;
      justify-content: center;
      gap: 0.625em;
      .card__profesion {
        font-size: 0.875em;
        padding: 0 0.4em;
        background-color: rgba(255, 255, 255, 0.226);
        border-radius: 1.428em;
      }
    }
    .card__containerAfinity {
      width: 100%;
      margin: 2.5em 0 0.625em;
      display: flex;
      flex-direction: column;

      .card__afinity {
        font-size: 0.75em;
        margin-bottom: 3px;
      }
      .card__containerProgressBar {
        width: 110%;
        align-self: center;
        height: 0.9375em;
        border-radius: 0.625em;
        overflow: hidden;
        position: relative;
        background-color: rgba(255, 255, 255, 0.171);
        .card__progressBar {
          //   width: 50%;
          height: 100%;
          overflow: hidden;
          background: linear-gradient(to right, #00cacd, #38066c);
          border-radius: 0.625em;
        }
      }
    }
    .card__titlePoi {
      font-size: 0.75em;
      margin-bottom: 0.8333em;
      align-self: flex-start;
    }
    .card__containerPoi {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.625em;
      .card__poiIcon {
        height: 1.875em;
      }
    }
  }
  .card__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    border-radius: 3.125em;
    background-color: rgba(0, 0, 0, 0.541);
  }
}
.card--scale {
  font-size: 22px;
}
.afinity__shadowCenter {
  bottom: -3.625em;
  position: absolute;
  width: 75%;
  height: 0;
  box-shadow: 0 0 2.1875em 0.3125em rgb(0 0 0 / 78%);
  border-radius: 3.125em;
  background-color: rgba(0, 0, 0, 0.082);
}
@media (max-width: 1835px) {
  .card {
    font-size: 13px;
  }
  .card--scale {
    font-size: 19px;
  }
}
@media (max-width: 1616px) {
  .card {
    font-size: 10px;
  }
  .card--scale {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .card {
    font-size: 8px;
  }
  .card--scale {
    font-size: 13px;
  }
}
@media (max-width: 1025px) {
  .card {
    font-size: 10px;
  }
  .card--scale {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .card--scale {
    font-size: 16px;
  }
}
