@import "../variables.scss";

.libee {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: black;
}
.navbar,
.home {
  font-size: 22px;
}
.navbar {
  width: 100%;
  height: 8.875em;
  padding: 0.875em 1.5625em;
  position: fixed;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  //   background: linear-gradient(to bottom, rgba(26, 26, 26, 0.829), #d7d6d400);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.82) 0%,
    rgba(0, 0, 0, 0.65) 26%,
    rgba(0, 0, 0, 0.04) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.logo {
  display: flex;
  align-items: center;

  height: 3.25em;
  text-decoration: none;
  .logo__img {
    margin-right: 0.4375em;
    width: 2.8125em;
  }
  .logo__text {
    font-size: 2em;
    font-weight: 200;
  }
}
.navList {
  display: flex;
  list-style: none;
  margin-right: 1.875em;
  .navList__option {
    .navList__link {
      text-decoration: none;
      display: inline-flex;
      font-size: 1.125em;
      cursor: pointer;
      padding: 0.777em 1.555em;
      transition: $transition;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.home {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 58.375em;
  background-image: url(../assets/images/coverHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  .home__containerTitles {
    margin-top: 11.25em;
    margin-left: 10.375em;

    .home__title {
      padding: 0.5714em 0.9285em;
      background-color: rgba(0, 0, 0, 0.541);
      font-size: 1.75em;
      width: 13.5357em;
      border-radius: 0.78em;
      line-height: 1.2142em;
      font-weight: 200;
    }
    .home__containerSubTitles {
      padding: 1.25em 1.625em;
      width: 31.25em;
      .home__subTitle {
        font-size: 1.75em;
        font-weight: 200;
        line-height: 1.2142em;
      }
      .home__bigSubTitle {
        font-size: 7.9em;
        line-height: 0.986em;
        font-weight: 200;

        letter-spacing: 0.045em;
      }
    }
  }
  .main__bgWave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.network {
  position: relative;
  // top: -200px;
  // left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
  // .network__bgWave {
  //   width: 100%;
  // }
  .network__bgClasic {
    width: 100%;
    // min-height: 500px;

    background: linear-gradient(
      to bottom,
      #5d3e87,
      #7860c1,
      #6e71d4,
      #5f82e7,
      #5091f7,
      #439aff
    );
  }
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 9.375rem 1.875rem 0;
  .about__imgPhone {
    width: 36%;
    height: auto;
  }
  .about__containerDetails {
    padding-top: 0.625em;
    display: flex;
    flex-direction: column;
    .about__title {
      display: inline-block;
      font-size: 4em;
      font-weight: 200;
      padding: 0.36em 0.47em;
      background-color: rgba(255, 255, 255, 0.22);
      margin-bottom: 0.7em;
      border-radius: 0.66em;
    }
    .about__title--italic {
      font-family: "Poppins-Bold-Italic";
    }
    .about__containerDescriptions {
      padding: 0 3.88em;
      .about__description {
        font-size: 2.94em;
        margin-bottom: 1.1em;
        line-height: 1.21em;
      }
      .about__linkMore {
        font-size: 2em;
        color: white;
        text-decoration: none;
        border-bottom: solid 2px white;
      }
    }
  }
}
.network__containerTransition1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .network__transition1 {
    width: 100%;
  }
  .network__containerIconTransition1 {
    width: 2rem;
    position: absolute;
    margin-bottom: 1.6875em;
    .network__iconTransition1 {
      width: 100%;
      height: 1.625em;
      margin-bottom: 0.25em;
      filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.788));
    }
  }
}
.afinity {
  width: 100%;
  margin-top: 3.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  .afinity__title {
    text-align: center;
    font-size: 2.94em;
    margin-bottom: 1.7em;
    line-height: 1.21em;
    max-width: 28.93em;
  }
  .afinity__title--boldItalic {
    font-family: "Poppins-Bold-Italic";
  }
  .afinity__containerCards {
    width: 100%;
    margin-bottom: 1.875em;
    padding: 0 3.125em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .afinity__card {
      width: 16.6%;
    }

    .afinity__containerCenter {
      width: 23.65%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .afinity__card--center {
        width: 100%;
      }
      .afinity__shadowCenter {
        bottom: -3.625em;
        position: absolute;
        width: 75%;
        height: 0;
        box-shadow: 0 0 2.1875em 0.3125em rgb(0 0 0 / 78%);
        border-radius: 3.125em;
        background-color: rgba(0, 0, 0, 0.082);
      }
    }
  }
}
.way {
  width: 100%;
  .way__metod {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3.125em;
    gap: 5.2%;
    .way__img {
      width: 40%;
    }
    .way__containerDetails {
      max-width: 41%;
      .way__title {
        text-align: center;
        font-size: 2.94em;
        line-height: 1.21em;
        font-weight: 200;
        margin-bottom: 0.638em;
      }
      .way__description {
        width: 100%;
        font-size: 2em;
        padding: 1.0625em 1.125em;
        background-color: rgba(0, 0, 0, 0.541);
        border-radius: 0.9375em;
        line-height: 1.25em;
      }
    }
    .way__containerDetails--marg {
      margin-right: 2.8%;
    }
  }
  .way__metod--poi {
    .way__containerDetails {
      max-width: 40%;
      align-self: center;
    }
  }
  .way__metod--bio {
    margin-top: 3.75em;
    .way__containerDetails {
      align-self: center;
    }
  }
}
.beLiber {
  width: 85%;
  margin: 7.5em auto;

  .beLiber__title {
    font-size: 2.94em;
    line-height: 1.21em;
    font-weight: 200;
    margin-bottom: 1.06em;
  }
  .beLiber__description {
    font-size: 2em;
    line-height: 1.25em;
  }
}
.contact {
  width: 100%;
  padding: 3.125em 6.77% 5em 9.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ups {
  font-size: 22px;
  max-width: 28em;
  .ups__title {
    font-size: 5.9em;
    line-height: 1.077em;
    font-weight: 200;
  }
  .ups__subtitle {
    font-size: 2.136em;
    line-height: 1.21em;
    font-weight: 200;
    margin: 1.06em 0;
  }
  .ups__containerIcons {
    display: flex;
    gap: 2.27em;
    .ups__icon {
      width: 4.54em;
      height: 4.54em;
    }
  }
}
.containerForm {
  max-width: 46.875em;
  position: relative;
  .containerForm__bubble {
    width: 24.375em;
    position: absolute;
    z-index: 1;
  }
  .containerForm__bubble--up {
    top: 3.4375em;
    right: -11.75em;
  }
  .containerForm__bubble--down {
    bottom: 5.3125em;
    left: -17.5em;
  }
}
.form {
  padding: 4.375rem 5.625em;
  background-color: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(1.5625em);
  border-radius: 1.875em;
  position: relative;
  z-index: 5;
  .form__fieldset {
    border: none;
    .form__legend {
      font-size: 2.937em;
      line-height: 1.21em;
      font-weight: 200;
      margin-bottom: 1.063em;
    }
    .form__label {
      display: inline-flex;
      font-size: 1.5em;
      margin-bottom: 0.125em;
      padding-left: 0.166em;
    }
    .form__input {
      width: 100%;
      font-size: 3.75em;
      height: 1em;
      color: black;
      border-radius: 0.166em;
      margin-bottom: 0.583em;
    }
    .form__submit {
      height: 2.5em;
      width: 5.833em;
      font-size: 1.5em;
      border: none;
      background-color: rgba(0, 0, 0, 0.596);
      border-radius: 0.416em;
      float: right;
    }
  }
}
.footer {
  width: 100%;
  min-height: 12.5em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3.125em;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  .containerLogo,
  .containerMore,
  .companies {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerMore {
  }
}
.companies {
  display: flex;
  flex-direction: column;
  border-left: solid 2px white;
  border-right: solid 2px white;
  .companies__title {
    font-size: 1.5em;
    margin-bottom: 0.833em;
  }
  .companies__companie {
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: solid 1px white;
  }
}
.more {
  display: flex;
  flex-direction: column;
  .more__link {
    font-size: 1.5em;

    text-decoration: none;
  }
}
@media (max-width: 1450px) {
  .navbar,
  .home {
    font-size: 16px;
  }
  .network {
    // top: -114px;
  }
  .about {
    padding: 110px 30px 0px;
  }
}
