<!-- Contenedor General -->
<div class="libee">
  <!-- Barra de navegación -->
  <nav class="navbar" [ngClass]="openMenuNav ? 'navBarMenu' : ''">
    <!-- Logo -->
    <a class="logo" href="#home" (click)="closeNavBtn()">
      <img
        class="logo__img"
        src="../assets/icons/logo-Libee.webp"
        alt="Logo Libee"
      />
      <h1 class="logo__text">Libee</h1>
    </a>
    <!-- Links de navegación desktop -->
    <ul class="navList">
      <li class="navList__option">
        <a class="navList__link" href="#aboutNetwork">Red</a>
      </li>
      <li class="navList__option">
        <a class="navList__link" href="#about">Acerca de</a>
      </li>
      <li class="navList__option">
        <a class="navList__link" href="#contact">Contacto</a>
      </li>
    </ul>
    <!-- Links de navegación Mobile -->
    <ul class="navMenu">
      <li class="navMenu__option">
        <a class="navMenu__link" href="#aboutNetwork" (click)="OnNavBtn()"
          >Red</a
        >
      </li>
      <li class="navMenu__option">
        <a class="navMenu__link" href="#about" (click)="OnNavBtn()"
          >Acerca de</a
        >
      </li>
      <li class="navMenu__option">
        <a class="navMenu__link" href="#contact" (click)="OnNavBtn()"
          >Contacto</a
        >
      </li>
    </ul>
    <!-- Botón Hamburguesa -->
    <div class="navBtn">
      <div class="navBtn__btn" (click)="OnNavBtn()">
        <div
          class="navBtn__line"
          [ngClass]="openMenuNav ? 'navBtn__line--open' : ''"
        ></div>
      </div>
    </div>
  </nav>
  <!-- Home -->
  <div class="containerHome">
    <main class="home" id="home">
      <div class="home__containerTitles">
        <h2 class="home__title">La primer red social física del mundo.</h2>
        <div class="home__containerSubTitles">
          <h3 class="home__subTitle">
            Diseñada para <br />
            encontrar
          </h3>
          <h3 class="home__bigSubTitle">tu <br />mejor <br />versión.</h3>
        </div>
      </div>
    </main>
    <!-- Iconos de youtube e instagram -->
    <div class="home__containerIcons">
      <a class="home__youTube" href="">
        <img
          class="home__icon"
          src="../assets/icons/youtube.webp"
          alt="Icon YouTube"
        />
        <img
          class="home__icon home__icon--hover"
          src="../assets/icons/youtube-color.webp"
          alt="Icon YouTube"
        />
      </a>
      <a class="home__instagram" href="">
        <img
          class="home__icon"
          src="../assets/icons/instagram.webp"
          alt="Icon Instagram"
        />
        <img
          class="home__icon home__icon--hover"
          src="../assets/icons/instagram-color.webp"
          alt="Icon Instagram"
        />
      </a>
    </div>
    <!-- Imagen de transición entre seccciones - ola purpura -->
    <img
      class="main__bgWave"
      src="../assets/images/waveLanding11.svg"
      alt="Wave"
    />
  </div>
  <!-- Contenedor gral. con secciones de landing -->
  <div class="network">
    <!-- Contenedor con fondo en degrade hasta footer -->
    <div class="network__bgClasic">
      <!-- Sección de POR QUE RED SOCIAL -->
      <section class="about" id="aboutNetwork">
        <img
          class="about__imgPhone"
          src="../assets/images/LIBEE-LANDINGIPHONE.webp"
          alt="Phone with Libee logo"
          loading="lazy"
        />
        <div class="about__containerDetails">
          <h2 class="about__title">
            ¿Por qué red social
            <span class="about__title--italic">FISICA</span>?
          </h2>
          <div class="about__containerDescriptions">
            <p class="about__description">
              La esencia de Libee radica en la interacción humana.
            </p>
            <p class="about__description">
              Generamos espacios físicos cargados de una red virtual inteligente
              que potencia nuestros vínculos.
            </p>
            <a class="about__linkMore" href="#more">Conocer más</a>
          </div>
        </div>
      </section>
      <!-- Imagen de transición entre secciones -->
      <div class="network__containerTransition1">
        <img
          class="network__transition1"
          src="../assets/images/LIBEE-LANDINGEFECTO.webp"
          alt="Degrade oscuro - Transición de sección"
          loading="lazy"
        />
        <!-- Flechas hacia abajo -->
        <div class="network__containerIconTransition1">
          <img
            class="network__iconTransition1"
            src="../assets/icons/arrow-down.webp"
            alt="Icon arrow down"
            loading="lazy"
          />
          <img
            id="more"
            class="network__iconTransition1"
            src="../assets/icons/arrow-down.webp"
            alt="Icon arrow down"
            loading="lazy"
          />
        </div>
      </div>
      <!-- Sección de AFINITYMATCH -->
      <section class="afinity">
        <p class="afinity__title">
          Estamos construyendo una comunidad de personas cretivas y naturalmente
          exitosas alrededor del mundo mediante
          <span class="afinity__title--boldItalic">AfinityMatch</span>.
        </p>
        <!-- Contenedor de Cards -->
        <div class="afinity__containerCards">
          <!-- Cards -->
          <app-card
            class="afinity__card"
            *ngFor="let member of mockMembers; let i = index"
            [member]="member"
            [index]="i"
          ></app-card>
        </div>
      </section>
      <!-- Imagen de transición entre secciones -->
      <div class="network__containerTransition1">
        <img
          id="about"
          class="network__transition1"
          src="../assets/images/LIBEE-LANDINGEFECTO-2-oscuro.webp"
          alt="Degrade oscuro - Transición de sección"
          loading="lazy"
        />
      </div>
      <!-- Sección de PERFIL LIBEE -->
      <section class="way">
        <!-- Contenedor de imagen y explicación de Creación de Perfil Libee-->
        <div class="way__metod">
          <img
            class="way__img"
            src="../assets/images/LIBEE-LANDINGTIPO-CON-PLANTAS.webp"
            alt="Man into plants"
            loading="lazy"
          />
          <div class="way__containerDetails">
            <h3 class="way__title">
              Creación de<br />
              perfil Libee
            </h3>
            <p class="way__description">
              Tu perfil te acompañará a lo largo de tu recorrido como "liber".
              Comenzará a conocerte tras una evaluación de self-awarness y se
              irá completando a medida que interactúes en la red.
            </p>
          </div>
        </div>
        <!-- Contenedor de imagen y explicación de POI-->
        <div class="way__metod way__metod--poi">
          <div class="way__containerDetails">
            <h3 class="way__title">Proof of Interaction</h3>
            <p class="way__description">
              Inventamos una nueva manera de validar las interacciones
              humanas.<br />
              El "POI" (Proof of Interaction) se genera al consolidar una
              relación, pudiendo ser un asset de altísimo valor en tu perfil
              tanto profesional como personal. Algunos POI también generan
              beneficios!
            </p>
          </div>
          <img
            class="way__img way__containerDetails--marg"
            src="../assets/images/LIBEE-LANDINGMATCH.webp"
            alt="Man into plants"
            loading="lazy"
          />
        </div>
        <!-- Contenedor de imagen y explicación de Bioespacios-->
        <div class="way__metod way__metod--bio">
          <img
            class="way__img"
            src="../assets/images/LIBEE-LANDINGBIOESPACIOS.webp"
            alt="People working"
            loading="lazy"
          />
          <div class="way__containerDetails">
            <h3 class="way__title">Bioespacios</h3>
            <p class="way__description">
              ¿Nos encontramos? Si, en un bioespacio. Conectemos compartiendo de
              una experiencia única en un lugar increíble. Clinicas, encuentros,
              talleres, reuniones sociales, co-work, y Libee Stay. <br />
              Sumá POIs, obtené beneficios y generá valor con otros Libers en
              momentos de disfrute y aprendizaje.
            </p>
          </div>
        </div>
        <!-- Contenedor de Que Significa ser Liber-->
        <div class="beLiber">
          <h3 class="beLiber__title">Ser Liber es...</h3>
          <p class="beLiber__description">
            Ser un Liber significa un reencuentro con tu máximo potencial, ser
            una persona de confianza que puede contribuir al mundo del mañana.
            Compartir tu perfil Libee habla de tu personalidad, tu
            relacionamiento con los demás y tus capacidades. Obtener
            certificaciones Libee te ayudará a aumentar tus oportunidades en el
            futuro.
          </p>
        </div>
      </section>
      <!-- Imagen de transición entre secciones -->
      <div class="network__containerTransition1">
        <img
          class="network__transition1"
          src="../assets/images/LIBEE-LANDINGEFECTO.webp"
          alt="Degrade oscuro - Transición de sección"
          loading="lazy"
        />
      </div>
      <!-- Sección de CONTACTO -->
      <section class="contact" id="contact">
        <!-- Contenedor UPS! -->
        <div class="ups">
          <h3 class="ups__title">Ups!</h3>
          <h4 class="ups__subtitle">
            La versión beta alcanzó el máximo de usuarios hasta el momento.
          </h4>
          <!-- Iconos de youtube e instagram -->
          <div class="ups__containerIcons">
            <a class="ups__youTube" href="">
              <img
                class="ups__icon"
                src="../assets/icons/youtube.webp"
                alt="Icon YouTube"
                loading="lazy"
              />
              <img
                class="ups__icon ups__icon--hover"
                src="../assets/icons/youtube-color.webp"
                alt="Icon YouTube"
                loading="lazy"
              />
            </a>
            <a class="ups__instagram" href="">
              <img
                class="ups__icon"
                src="../assets/icons/instagram.webp"
                alt="Icon Instagram"
                loading="lazy"
              />
              <img
                class="ups__icon ups__icon--hover"
                src="../assets/icons/instagram-color.webp"
                alt="Icon Instagram"
                loading="lazy"
              />
            </a>
          </div>
        </div>
        <!-- Contenedor Form -->
        <div class="containerForm">
          <!-- FORM -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
            <fieldset class="form__fieldset">
              <p class="form__legend">
                ¡Únase a nuestra lista de espera y, mientras tanto, permítanos
                invitarlo a nuestros eventos!
              </p>
              <label class="form__label" for="name">Tu nombre</label><br />
              <input
                class="form__input"
                type="text"
                id="name"
                name="name"
              /><br />
              <label class="form__label" for="email">Email</label><br />
              <input
                class="form__input"
                type="email"
                id="email"
                email="name"
              /><br />
              <label class="form__label" for="super">Soy super...</label><br />
              <input
                class="form__input"
                type="text"
                id="super"
                name="super"
              /><br />
              <label class="form__label" for="work">Trabajo como...</label
              ><br />
              <input
                class="form__input"
                type="text"
                id="work"
                name="work"
              /><br />
              <p class="form__error" *ngIf="invalidForm">
                Debe completar todos los campos
              </p>
              <input class="form__submit" type="submit" value="Enviar" />
            </fieldset>
          </form>
          <!-- Burbuja flotando detras de form -->
          <img
            class="containerForm__bubble containerForm__bubble--up"
            src="../assets/images/bubble.webp"
            alt="Burbuja con gradiente de colores en el fondo"
            loading="lazy"
          />
          <!-- Burbuja flotando detras de form -->
          <img
            class="containerForm__bubble containerForm__bubble--down"
            src="../assets/images/bubble.webp"
            alt="Burbuja con gradiente de colores en el fondo"
            loading="lazy"
          />
        </div>
      </section>
    </div>
  </div>
  <!-- FOOTER -->
  <footer class="footer">
    <!-- Logo -->
    <div class="containerLogo">
      <div class="logo">
        <img
          class="logo__img"
          src="../assets/icons/logo-Libee.webp"
          alt="Logo Libee"
        />
        <h1 class="logo__text">Libee</h1>
      </div>
    </div>
    <!-- <div class="companies">
      <p class="companies__title">Our companies</p>
      <a class="companies__companie" href="">Libee app</a>
      <a class="companies__companie" href="">Libee stay</a>
    </div>
    <div class="containerMore">
      <div class="more">
        <a class="more__link">Wanna work for us?</a>
        <a class="more__link">Investors deck</a>
        <a class="more__link">YouTube channel</a>
        <a class="more__link">FAQS</a>
      </div>
    </div> -->
  </footer>
</div>
<!-- Loader inicial para carga de pagina -->
<div class="startLoader" *ngIf="startLoader">
  <img
    class="startLoader__icon"
    src="../assets/icons/logo-Libee.webp"
    alt="Logo Libee"
  />
</div>
