<div class="libee">
  <nav class="navbar">
    <a class="logo" href="#home">
      <img
        class="logo__img"
        src="../assets/icons/logo-Libee.png"
        alt="Logo Libee"
      />
      <h1 class="logo__text">Libee</h1>
    </a>
    <ul class="navList">
      <li class="navList__option">
        <a class="navList__link" href="">Pricing</a>
      </li>
      <li class="navList__option">
        <a class="navList__link" href="#about">About</a>
      </li>
      <li class="navList__option">
        <a class="navList__link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <main class="home" id="home">
    <div class="home__containerTitles">
      <h2 class="home__title">La primer red social física del mundo.</h2>
      <div class="home__containerSubTitles">
        <h3 class="home__subTitle">
          Diseñada para <br />
          encontrar
        </h3>
        <h3 class="home__bigSubTitle">tu <br />mejor <br />versión.</h3>
      </div>
    </div>
  </main>
  <div class="network">
    <img
      class="network__bgWave"
      src="../assets/images/waveLanding11.svg"
      alt="Wave"
    />

    <div class="network__bgClasic">
      <section class="about" id="about">
        <img
          class="about__imgPhone"
          src="../assets/images/LIBEE-LANDINGIPHONE.png"
          alt="Phone with Libee logo"
        />
        <div class="about__containerDetails">
          <h2 class="about__title">
            ¿Por qué red social
            <span class="about__title--italic">FISICA</span>?
          </h2>
          <div class="about__containerDescriptions">
            <p class="about__description">
              La esencia de Libee radica en la <br />interacción humana.
            </p>
            <p class="about__description">
              Generamos espacios físicos <br />cargados de na red virtual
              <br />inteligente que potencia nuestros <br />vínculos.
            </p>
            <a class="about__linkMore" href="#more">Conocer más</a>
          </div>
        </div>
      </section>
      <div class="network__containerTransition1">
        <img
          class="network__transition1"
          src="../assets/images/LIBEE-LANDINGEFECTO.png"
          alt="Degrade oscuro - Transición de sección"
        />
        <div class="network__containerIconTransition1">
          <img
            class="network__iconTransition1"
            src="../assets/icons/arrow-down.png"
            alt="Icon arrow down"
          />
          <img
            id="more"
            class="network__iconTransition1"
            src="../assets/icons/arrow-down.png"
            alt="Icon arrow down"
          />
        </div>
      </div>
      <section class="afinity">
        <p class="afinity__title">
          Estamos construyendo una comunidad de personas cretivas y naturalmente
          exitosas alrededor del mundo mediante
          <span class="afinity__title--boldItalic">AfinityMatch</span>.
        </p>
        <div class="afinity__containerCards">
          <img
            class="afinity__card"
            src="../assets/images/card-ZOE.png"
            alt="Card"
          />
          <img
            class="afinity__card"
            src="../assets/images/card-SEBA.png"
            alt="Card"
          />
          <div class="afinity__containerCenter">
            <img
              class="afinity__card afinity__card--center"
              src="../assets/images/card-CARTAS-DE-USUARIO.png"
              alt="Card"
            />
            <div class="afinity__shadowCenter"></div>
          </div>
          <img
            class="afinity__card"
            src="../assets/images/card-GONZA.png"
            alt="Card"
          />
          <img
            class="afinity__card"
            src="../assets/images/card-JUAN_2.png"
            alt="Card"
          />
        </div>
      </section>
      <div class="network__containerTransition1">
        <img
          class="network__transition1"
          src="../assets/images/LIBEE-LANDINGEFECTO-2-oscuro.png"
          alt="Degrade oscuro - Transición de sección"
        />
      </div>
      <section class="way">
        <div class="way__metod">
          <img
            class="way__img"
            src="../assets/images/LIBEE-LANDINGTIPO-CON-PLANTAS.png"
            alt="Man into plants"
          />
          <div class="way__containerDetails">
            <h3 class="way__title">
              Creación de<br />
              perfil Libee
            </h3>
            <p class="way__description">
              Tu perfil te acompañará a lo largo de tu recorrido como "liber".
              Comenzará a conocerte tras una evaluación de self-awarness y se
              irá completando a medida que interactúes en la red.
            </p>
          </div>
        </div>
        <div class="way__metod way__metod--poi">
          <div class="way__containerDetails">
            <h3 class="way__title">Proof of Interaction</h3>
            <p class="way__description">
              Inventamos una nueva manera de validar las interacciones
              humanas.<br />
              El "POI" (Proof of Interaction) se genera al consolidar una
              relación, pudiendo ser un asset de altísimo valor en tu perfil
              tanto profesional como personal. Algunos POI también generan
              beneficios!
            </p>
          </div>
          <img
            class="way__img way__containerDetails--marg"
            src="../assets/images/LIBEE-LANDINGMATCH.png"
            alt="Man into plants"
          />
        </div>
        <div class="way__metod way__metod--bio">
          <img
            class="way__img"
            src="../assets/images/LIBEE-LANDINGBIOESPACIOS.png"
            alt="People working"
          />
          <div class="way__containerDetails">
            <h3 class="way__title">Bioespacios</h3>
            <p class="way__description">
              ¿Nos encontramos? Si, en un bioespacio. Conectemos compartiendo de
              una experiencia única en un lugar increíble. Clinicas, encuentros,
              talleres, reuniones sociales, co-work, y Libee Stay. <br />
              Sumá POIs, obtené beneficios y generá valor con otros Libers en
              momentos de disfrute y aprendizaje.
            </p>
          </div>
        </div>
        <div class="beLiber">
          <h3 class="beLiber__title">Ser Liber es...</h3>
          <p class="beLiber__description">
            Ser un Liber significa un reencuentro con tu máximo potencial, ser
            una persona de confianza que puede contribuir al mundo del mañana.
            Compartir tu perfil Libee habla de tu personalidad, tu
            relacionamiento con los demás y tus capacidades. Obtener
            certificaciones Libee te ayudará a aumentar tus oportunidades en el
            futuro.
          </p>
        </div>
      </section>
      <div class="network__containerTransition1">
        <img
          class="network__transition1"
          src="../assets/images/LIBEE-LANDINGEFECTO.png"
          alt="Degrade oscuro - Transición de sección"
        />
      </div>
      <section class="contact" id="contact">
        <div class="ups">
          <h3 class="ups__title">Ups!</h3>
          <h4 class="ups__subtitle">
            La versión beta alcanzó el máximo de usuarios hasta el momento.
          </h4>
          <div class="ups__containerIcons">
            <img
              class="ups__icon"
              src="../assets/icons/youtube.png"
              alt="Icon YouTube"
            />
            <img
              class="ups__icon"
              src="../assets/icons/instagram.png"
              alt="Icon Instagram"
            />
          </div>
        </div>
        <div class="containerForm">
          <form action="" class="form">
            <fieldset class="form__fieldset">
              <p class="form__legend">
                Join our waitlist and meanwhile let us invite you to our events!
              </p>
              <label class="form__label" for="name">Your name</label><br />
              <input
                class="form__input"
                type="text"
                id="name"
                name="name"
              /><br />
              <label class="form__label" for="email">email</label><br />
              <input
                class="form__input"
                type="email"
                id="email"
                email="name"
              /><br />
              <label class="form__label" for="super">I am super...</label><br />
              <input
                class="form__input"
                type="text"
                id="super"
                name="super"
              /><br />
              <label class="form__label" for="work">I work as a...</label><br />
              <input
                class="form__input"
                type="text"
                id="work"
                name="work"
              /><br />
              <input class="form__submit" type="submit" value="Submit" />
            </fieldset>
          </form>
          <img
            class="containerForm__bubble containerForm__bubble--up"
            src="../assets/images/bubble.png"
            alt="Burbuja con gradiente de colores en el fondo"
          />
          <img
            class="containerForm__bubble containerForm__bubble--down"
            src="../assets/images/bubble.png"
            alt="Burbuja con gradiente de colores en el fondo"
          />
        </div>
      </section>
    </div>
  </div>
  <footer class="footer">
    <div class="containerLogo">
      <div class="logo">
        <img
          class="logo__img"
          src="../assets/icons/logo-Libee.png"
          alt="Logo Libee"
        />
        <h1 class="logo__text">Libee</h1>
      </div>
    </div>
    <div class="companies">
      <p class="companies__title">Our companies</p>
      <a class="companies__companie" href="">Libee app</a>
      <a class="companies__companie" href="">Libee stay</a>
    </div>
    <div class="containerMore">
      <div class="more">
        <a class="more__link">Wanna work for us?</a>
        <a class="more__link">Investors deck</a>
        <a class="more__link">YouTube channel</a>
        <a class="more__link">FAQS</a>
      </div>
    </div>
  </footer>
</div>
