@import "../variables.scss";

.libee {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  background-color: black;
}
.navbar,
.home {
  // font-size: 22px;
  font-size: 1.158vw;
}
.navbar {
  width: 100%;
  height: 100%;
  max-height: 8.875em;
  padding: 0.875em 1.5625em;
  position: fixed;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  //   background: linear-gradient(to bottom, rgba(26, 26, 26, 0.829), #d7d6d400);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.82) 0%,
    rgba(0, 0, 0, 0.65) 26%,
    rgba(0, 0, 0, 0.04) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.navBtn {
  display: none;
  .navBtn__btn {
    width: 45px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    .navBtn__line {
      position: relative;
      width: 30px;
      height: 2px;
      background-color: white;
      transition: all 0.3s linear;
      border-radius: 10px;
      &::after,
      &::before {
        content: "";
        width: 30px;
        height: 2px;
        background-color: white;
        position: absolute;
        transition: all 0.3s linear;
        border-radius: 10px;
      }
      &::before {
        top: 10px;
      }
      &::after {
        bottom: 10px;
      }
    }
    .navBtn__line--open {
      transform: rotateZ(45deg);
      &::before {
        top: 0px;
      }
      &::after {
        bottom: 0px;
        transform: rotateZ(90deg);
      }
    }
  }
}
.navMenu {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 120px;
  .navMenu__option {
    list-style: none;
    .navMenu__link {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-decoration: none;
      font-size: 20px;
      padding: 10px 50px;
      display: inline-block;
      transition: all 0.3s linear;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 3.25em;
  text-decoration: none;
  .logo__img {
    margin-right: 0.4375em;
    width: 2.8125em;
  }
  .logo__text {
    font-size: 2em;
    font-weight: 200;
  }
}
.navList {
  display: flex;
  list-style: none;
  margin-right: 1.875em;
  .navList__option {
    .navList__link {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-decoration: none;
      display: inline-flex;
      font-size: 1.125em;
      cursor: pointer;
      padding: 0.777em 1.555em;
      transition: $transition;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.containerHome {
  position: relative;

  background-color: #d8d7d5;
}
.home {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 58.375em;
  background-image: url(../assets/images/coverHome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  .home__containerTitles {
    margin-top: 11.25em;
    margin-left: 10.375em;

    .home__title {
      padding: 0.5714em 0.9285em;
      background-color: rgba(0, 0, 0, 0.541);
      font-size: 1.75em;
      width: 13.5357em;
      border-radius: 0.78em;
      line-height: 1.2142em;
      font-weight: 200;
    }
    .home__containerSubTitles {
      padding: 1.25em 1.625em;
      width: 31.25em;
      .home__subTitle {
        font-size: 1.75em;
        font-weight: 200;
        line-height: 1.2142em;
      }
      .home__bigSubTitle {
        font-size: 7.9em;
        line-height: 0.986em;
        font-weight: 200;

        letter-spacing: 0.045em;
      }
    }
  }
  // .home__containerIcons {
  //   position: absolute;
  //   z-index: 20;
  //   bottom: 3em;
  //   right: 4em;
  //   display: flex;
  //   gap: 2.27em;
  //   .home__icon {
  //     width: 4.54em;
  //     height: 4.54em;
  //     opacity: 1;
  //   }
  //   .home__icon--hover {
  //     transition: all 0.3s ease;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     opacity: 0;
  //   }
  // }
  .home__youTube {
    position: relative;
    &:hover .home__icon--hover {
      opacity: 1;
    }
  }
  .home__instagram {
    position: relative;
    &:hover .home__icon--hover {
      opacity: 1;
    }
  }
  // .main__bgWave {
  //   position: absolute;
  //   bottom: -2px;
  //   left: -2px;
  //   right: -2px;
  //   width: 101%;
  // }
}
.home__containerIcons {
  font-size: 1.158vw;
  position: absolute;
  z-index: 20;
  bottom: 3em;
  right: 4em;
  display: flex;
  gap: 2.27em;
  .home__icon {
    width: 4.54em;
    height: 4.54em;
    opacity: 1;
  }
  .home__icon--hover {
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
.home__youTube {
  position: relative;
  &:hover .home__icon--hover {
    opacity: 1;
  }
}
.home__instagram {
  position: relative;
  &:hover .home__icon--hover {
    opacity: 1;
  }
}
.main__containerBgWave {
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  width: 101%;
  z-index: 12;
  display: flex;
}
.main__bgWave {
  width: 101%;
}
.main__bgWave--shadow {
  position: absolute;
  top: 0;
  width: 101%;
  z-index: 12;
}
.network {
  font-size: 0.842vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;
  // 6f4ca2
  // #5d3e87,
  .network__bgClasic {
    width: 100%;
    background: linear-gradient(
      to bottom,
      #6f4aa5,
      #7860c1,
      #6e71d4,
      #5f82e7,
      #5091f7,
      #439aff
    );
  }
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 9.375em 9.875em 0;
  .about__imgPhone {
    width: 36%;
    height: auto;
    transition: all 1s ease-in-out;
    transform: scale(0.5);
  }
  .about__containerDetails {
    max-width: 98ch;
    padding-top: 0.625em;
    display: flex;
    flex-direction: column;
    .about__title {
      display: inline-block;
      font-size: 4em;
      font-weight: 200;
      padding: 0.36em 0.47em;
      background-color: rgba(255, 255, 255, 0.22);
      margin-bottom: 0.7em;
      border-radius: 0.66em;
    }
    .about__title--italic {
      font-family: "Poppins-Bold-Italic";
      font-display: swap;
    }
    .about__containerDescriptions {
      padding: 0 3.88em;
      .about__description {
        font-size: 2.94em;
        margin-bottom: 1.1em;
        line-height: 1.21em;
      }
      .about__linkMore {
        font-size: 2em;
        color: white;
        text-decoration: none;
        border-bottom: solid 2px white;
      }
    }
  }
}
.network__containerTransition1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .network__transition1 {
    width: 100%;
  }
  .network__containerIconTransition1 {
    width: 2rem;
    position: absolute;
    margin-bottom: 1.6875em;
    .network__iconTransition1 {
      width: 100%;
      height: 1.625em;
      margin-bottom: 0.25em;
      -webkit-filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.788));
      filter: drop-shadow(3px 3px 8px rgba(0, 0, 0, 0.788));
    }
  }
}
.afinity {
  width: 100%;
  margin-top: 3.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  .afinity__title {
    text-align: center;
    font-size: 2.94em;
    margin-bottom: 1.7em;
    line-height: 1.21em;
    max-width: 28.93em;
  }
  .afinity__title--boldItalic {
    font-family: "Poppins-Bold-Italic";
    font-display: swap;
  }
  .afinity__containerCards {
    width: 100%;
    margin-bottom: 2.875em;
    margin-top: 1em;
    padding: 0 3.125em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    .afinity__card {
    }
  }
}
.way {
  width: 100%;
  .way__metod {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3.125em;
    gap: 5.2%;
    .way__img {
      width: 40%;
    }
    .way__containerDetails {
      max-width: 41%;
      .way__title {
        text-align: center;
        font-size: 2.94em;
        line-height: 1.21em;
        font-weight: 200;
        margin-bottom: 0.638em;
      }
      .way__description {
        width: 100%;
        font-size: 2em;
        padding: 1.0625em 1.125em;
        background-color: rgba(0, 0, 0, 0.541);
        border-radius: 0.9375em;
        line-height: 1.25em;
      }
    }
    .way__containerDetails--marg {
      margin-right: 2.8%;
    }
  }
  .way__metod--poi {
    .way__containerDetails {
      max-width: 40%;
      align-self: center;
    }
  }
  .way__metod--bio {
    margin-top: 3.75em;
    .way__containerDetails {
      align-self: center;
    }
  }
}
.beLiber {
  width: 85%;
  margin: 7.5em auto;

  .beLiber__title {
    font-size: 2.94em;
    line-height: 1.21em;
    font-weight: 200;
    margin-bottom: 1.06em;
  }
  .beLiber__description {
    font-size: 2em;
    line-height: 1.25em;
  }
}
.contact {
  width: 100%;
  padding: 3.125em 6.77% 5em 9.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ups {
  font-size: 1.375em;
  max-width: 28em;
  position: relative;
  z-index: 2;
  .ups__title {
    font-size: 5.9em;
    line-height: 1.077em;
    font-weight: 200;
  }
  .ups__subtitle {
    font-size: 2.136em;
    line-height: 1.21em;
    font-weight: 200;
    margin: 1.06em 0;
  }
  .ups__containerIcons {
    display: flex;
    gap: 2.27em;
    .ups__icon {
      width: 4.54em;
      height: 4.54em;
      opacity: 1;
    }
    .ups__icon--hover {
      transition: all 0.3s ease;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
  .ups__youTube {
    position: relative;
    &:hover .ups__icon--hover {
      opacity: 1;
    }
  }
  .ups__instagram {
    position: relative;
    &:hover .ups__icon--hover {
      opacity: 1;
    }
  }
}

.containerForm {
  max-width: 46.875em;
  position: relative;
  .containerForm__bubble {
    width: 24.375em;
    position: absolute;
    z-index: 1;
  }
  .containerForm__bubble--up {
    top: 3.4375em;
    right: -11.75em;
  }
  .containerForm__bubble--down {
    bottom: 5.3125em;
    left: -17.5em;
  }
}
.form {
  padding: 4.375em 5.625em;
  background-color: rgba(0, 0, 0, 0.541);
  -webkit-backdrop-filter: blur(1.5625em);
  backdrop-filter: blur(1.5625em);
  border-radius: 1.875em;
  position: relative;
  z-index: 5;
  .form__fieldset {
    border: none;
    .form__legend {
      font-size: 2.937em;
      line-height: 1.21em;
      font-weight: 200;
      margin-bottom: 1.063em;
    }
    .form__label {
      display: inline-flex;
      font-size: 1.5em;
      margin-bottom: 0.125em;
      padding-left: 0.166em;
    }
    .form__input {
      display: inline-block;
      width: 100%;

      font-size: 1.4em;
      height: 2.32em;
      color: black;
      border-radius: 0.166em;
      margin-bottom: 1.583em;
      border: none;
      padding: 0 1em;
      &:focus-visible {
        outline: solid 2px $purple;
      }
    }
    .form__submit {
      height: 2.5em;
      width: 5.833em;
      font-size: 1.5em;
      border: none;
      background-color: rgba(0, 0, 0, 0.596);
      border-radius: 0.416em;
      float: right;
    }
    .form__error {
      font-size: 1.5em;
      color: rgb(255, 101, 74);
      margin-bottom: 5px;
    }
  }
}
.footer {
  width: 100%;
  min-height: 12.5em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3.125em;
  .containerLogo,
  .containerMore,
  .companies {
    width: 28%;
    min-width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerMore {
  }
  .logo__text {
    line-height: 1em;
  }
}
.companies {
  display: flex;
  flex-direction: column;
  border-left: solid 2px white;
  border-right: solid 2px white;
  .companies__title {
    font-size: 1.5em;
    margin-bottom: 0.833em;
  }
  .companies__companie {
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: solid 1px white;
  }
}
.more {
  display: flex;
  flex-direction: column;
  .more__link {
    font-size: 1.5em;

    text-decoration: none;
  }
}
.startLoader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #f3f0eb;
}
.startLoader__icon {
  opacity: 0.8;
  width: 4%;
  -webkit-animation: rotateLoader 2s linear infinite;
  animation: rotateLoader 2s linear infinite;
}
@-webkit-keyframes rotateLoader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotateLoader {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media (min-width: 1920px) {
  .navbar,
  .home {
    font-size: 22px;
  }
  .home__containerIcons {
    font-size: 22px;
  }
  .network {
    font-size: 16px;
  }
  .footer {
    font-size: 16px;
  }
}
@media (max-width: 1450px) and (min-height: 780px) {
  .navbar,
  .home {
    font-size: 14px;
  }
  .home__containerIcons {
    font-size: 14px;
  }
  .about {
    .about__containerDetails {
      max-width: 103ch;
    }
  }
  .network {
    font-size: 10px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 1450px) and (max-height: 780px) {
  .navbar,
  .home {
    font-size: 10px;
  }
  .home__containerIcons {
    font-size: 10px;
  }
  .about {
    .about__containerDetails {
      max-width: 103ch;
    }
  }
  .containerHome {
    padding: 0 10.94vw;
  }
  .network {
    font-size: 8px;
  }
  .footer {
    font-size: 8px;
  }
}

@media (max-width: 1280px) {
  .navbar,
  .home {
    font-size: 9px;
  }
  .home__containerIcons {
    font-size: 9px;
  }
  .network {
    font-size: 9px;
  }
  .footer {
    font-size: 9px;
  }
  .startLoader__icon {
    width: 50px;
  }
}
@media (max-width: 1025px) {
  .containerHome {
    padding: 0 0;
  }
  .home {
    background-image: url(../assets/images/coverHome11.jpg);
  }
  .afinity {
    .afinity__containerCards {
      justify-content: center;
      gap: 20px;
      .afinity__card {
        &:nth-child(2n) {
          display: none;
        }
      }
    }
  }
  .network {
    font-size: 8px;
  }
  .footer {
    font-size: 8px;
  }
}
@media (max-width: 768px) {
  .navbar,
  .home {
    font-size: 9px;
  }
  .home__containerIcons {
    font-size: 9px;
  }
  .navbar {
    transition: all 0.2s linear;
    overflow: hidden;
    .navList {
      display: none;
    }
  }
  .navMenu {
    display: flex;
  }
  .navBarMenu {
    height: 120%;
    max-height: 120vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.82) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .navBtn {
    display: flex;
  }
  .network {
    font-size: 7px;
  }
  .footer {
    font-size: 7px;
  }
  .contact {
    flex-direction: column;
    align-items: center;
    padding: 3.125em 3.5em 5em;
  }
  .ups {
    font-size: 1em;
    max-width: 46.875em;
    margin-bottom: 5em;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.375em 6.875em;
    .about__imgPhone {
      margin-bottom: 2em;
    }
    .about__containerDetails {
      .about__title {
        text-align: center;
      }
      .about__containerDescriptions {
        display: flex;
        flex-direction: column;
        .about__description {
        }
        .about__linkMore {
          align-self: center;
        }
      }
    }
  }
  .afinity {
    .afinity__title {
      width: 80%;
    }
    .afinity__containerCards {
      margin-bottom: 12.875em;
      .afinity__card {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
  .way {
    display: flex;
    flex-direction: column;
    align-items: center;
    .way__metod {
      width: 80%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 6em;

      .way__img {
        width: 80%;
      }
      .way__containerDetails {
        max-width: 80%;
        .way__title {
          margin: 0.638em;
        }
        .way__description {
        }
      }
      .way__containerDetails--marg {
        margin-right: 0;
      }
    }
    .way__metod--poi {
      flex-direction: column-reverse;
      .way__containerDetails {
        max-width: 80%;
      }
    }
    .way__metod--bio {
      margin-top: 0;
    }
  }
}
@media (max-width: 460px) {
  .navbar,
  .home {
    font-size: 9px;
  }
  .home__containerIcons {
    font-size: 9px;
  }
  .navbar {
    padding: 1.5em 2.5em;
  }
  .navList {
    margin-right: 0;
  }
  .home {
    padding: 0 3em;
    justify-content: flex-start;
    .home__containerTitles {
      margin-top: 8em;
      margin-left: 0;
    }
  }
  .network {
    font-size: 7px;
  }

  .contact {
    flex-direction: column;
    align-items: center;
    padding: 3.125em 3.5em 5em;
  }
  .ups {
    font-size: 1em;
    max-width: 46.875em;
    margin-bottom: 5em;
  }

  .about {
    padding: 6.375em 3.5em;
    .about__imgPhone {
      width: 60%;
    }
    .about__containerDetails {
      .about__title {
        text-align: center;
      }
      .about__containerDescriptions {
        padding: 0;
        .about__description {
          text-align: center;
        }
        .about__linkMore {
        }
      }
    }
  }
  .afinity {
    .afinity__title {
      width: 80%;
    }
    .afinity__containerCards {
      justify-content: center;
      .afinity__containerCenter {
        width: 70%;
      }
      .afinity__card--responsive460None {
        display: none;
      }
    }
  }
  .way {
    .way__metod {
      width: 92%;
      .way__img {
        width: 92%;
      }
      .way__containerDetails {
        max-width: 92%;
      }
    }
    .way__metod--poi {
      .way__containerDetails {
        max-width: 92%;
      }
    }
  }
  .footer {
    font-size: 9px;
    padding: 0 3.5em;
    flex-direction: column;
    .containerLogo,
    .containerMore,
    .companies {
      width: 70%;
      padding: 1.5em 0;
    }
  }
  .companies {
    display: flex;
    flex-direction: column;
    border-left: none;
    border-right: none;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }
  .more {
    align-items: center;
    .more__link {
    }
  }
}
