$purple: #6666cc;
$purpleLight: #7860c1;
$blue: #6699ff;
$blueLight: #00ffda;

$yellow: #ffe879;
$yellow2: #fce762;
$yellow3: #f5d64d;

$transition: all 0.2s ease;

// #d7d6d4

// top: #593c81
// middle-top: #5d3e87
//title home: 28px
// tercer parte: #6e71d4
// intemedio: #5f82e7
// cuarta parte: #5091f7
// final: #439aff
